body {
    padding: 0px 20px;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
    margin-bottom: 50px;
}

.container>.filter {
    color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
    box-sizing: border-box;
}

.container>.filter>.locations,
.container>.filter>.amenities {
    box-sizing: border-box;
    position: relative;
    float: left;
    color: black;
    height: 100%;
    width: 25%;
    padding: 1.7% 5%;
}

.container>.filter>.locations {
    border-right: 1px solid#DDDDDD;
}

.container>.filter>.locations>h3,
.container>.filter>.amenities>h3 {
    font-weight: 600;
    margin: 0px;
}

.container>.filter>.locations>h4,
.container>.filter>.amenities>h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0px;
}

.container>.filter>button:hover {
    opacity: 90%;
    cursor: pointer;
}

.container>.filter>.locations:hover .popover,
.container>.filter>.amenities:hover .popover {
    display: block;
}

.filter .popover {
    box-sizing: border-box;
    left: 0px;
    top: 79.7%;
    display: none;
    padding: 25px 35px;
    position: absolute;
    list-style-type: none;
    width: 100%;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    z-index: 1;
}

.filter .popover li {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container>.filter>button {
    font-size: 18px;
    color: #FFFFFF;
    background-color: #FF5A5F;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

@media only screen and (max-width:550px),
only screen and (max-device-width:550px) {

    .container>.filter>.locations,
    .container>.filter>.amenities {
        position: static;
    }
}

@media only screen and (max-width:400px),
only screen and (max-device-width:400px) {
    .container>.filter {
        height: unset;
    }

    .container>.filter>.locations,
    .container>.filter>.amenities {
        width: 100%;
        float: unset;
        border: unset;
        border-bottom: 1px solid #DDDDDD;
        height: unset;
        padding: 15px;
    }

    .filter .popover {
        left: 0px;
        top: unset;
    }

    .container>.filter>button {
        position: relative;
        width: 100%;
        right: unset;
        top: unset;
        transform: unset;
    }
}

@media only screen and (max-width:350px) and (max-device-width:350px) {
    .container>.filter {
        width: 300px;
    }
}